/*
$ colors: (
bg-100: #533345,
bg-75: #5e3a4e,
bg-50: #8e6a7e,
bg-25: #d19b3d
);
*/

.nav {
	background-color: #5e3a4e;
	color: #edd;
}
.navdiv {
	background-color: #5e3a4e;
	color: #edd;
}
.nav-link {
	color: #edd;
}
.nav-link:focus, 
.nav-link:hover {
	color: #fff;
}


a.nav-link {
	color: #edd;
	text-decoration: none;
}
a.nav-link:hover {
	text-decoration: none;
}

a.nav-item {
	color: #edd;
	text-decoration: none;
}
a.nav-item:hover {
	text-decoration: none;
	color: #fff;
}

.dropdown-item {
	background-color: #5e3a4e;
	color: #edd;
	font-size: 1em;
	text-decoration: none;
}
.dropdown-item:hover {
	background-color: #5e3a4e;
	color: #fff;
}

.mapname {
	text-decoration: none;
	color: inherit;
}

a.tags{
	color: #edd;
	margin: 5px 15px 5px 15px;
	padding: 0px 5px 0px 5px;
	font-size:0.8em;
	border:1px solid;
	border-color:#8e6a7e;
	text-decoration: none;
}

a.tags:hover {
	text-decoration: none;
	color: #fff;
	background-color: #8e6a7e;
	margin:
}

.sbtn{
	border:1px solid;
	border-color:#8e6a7e;
	color: #edd;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	background-color: transparent;
	#padding: 5px 5px 5px 5px;
	text-decoration: none;
	#margin: 5px 5px 5px 5px;

}
button.sbtn{
	border:0px solid;
	border-color:#8e6a7e;
	color: #edd;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	#padding: 5px 5px 5px 5px;
	text-decoration: none;
	#margin: 5px 5px 5px 5px;

}


.imgback {
	#background-image: url('/static/images/header4d_c.jpg'); 
	background: linear-gradient(90deg, rgba(94, 58, 78, 1), rgba(94, 58, 78, 0.1) 25%),url('/static/images/header4d_c.jpg');   #5e3a4e = rgba(94, 58, 78, 1)
	width: 100%;
	#height:200px;
	position: initial;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	#margin: 0px 15px;
}

.navbar-brand {
	background-image: url('/static/images/logo80x80.png'); 
	width: 80px;
	height: 80px;
	background-size: cover;
	margin-right: 0px;
}

.line-h {
	height:80px;
	position: relative;
}

.line-h:before { content: '';
  position: absolute;
  border-bottom:1px solid transparent;
  border-image: linear-gradient(90deg, rgb(143, 107, 127), rgba(94, 58, 78, 0.1) 80%);
  border-image-slice: 1; 
  height: 100%;
  width: 100%;
  transform: translateY(-50%);
   }
   
.dropdown-divider {
	border-color: #8E6A7E;
}   

#toplogo h2 {		
    font-family: 'Kurale', serif;
	#font-size: 6vmax;
	font-size: calc((4vw + 4vh )*0.7)
    font-weight: 700;
	color:#edd;
    font-family: 'Kurale', serif;
	text-shadow: 3px 3px 5px #555;
	white-space: nowrap;
}

#toplogo h3 {		
    font-family: 'Kurale', serif;
    #font-size: 2.5em;
	font-size: 2vmax;
	/*font-size: calc((4vw + 4vh + 2vmin)*0.3)*/
    font-weight: 400;
	color:#edd;
	text-shadow: 3px 3px 5px #555;
    font-family: 'PT Serif', sans-serif;
}



body {
	margin: 0px;
	padding: 0px;
	font-family: 'PT Serif', sans-serif;
	background: #fafafa;
}

p {
    font-family: 'PT Serif', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.5em;
    color: #433;
}
.price {
    font-size: 1.3em;
    font-weight: 700;	
}
.map_info {
	line-height: 1.0em;
	font-size: 0.8em;
}

td {
	background-color:#f3f3f3;
}

a {
	color: #0056b3;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}


blockquote p {
	font-size: 80% !important;
	#font-family: 'Kurale', serif;
	color: #433;
	font-size: 1.0em;
	line-height: 0.5em;
}
.blockquote-footer {
    font-family: 'PT Serif', sans-serif;
	#font-family: 'Kurale', serif;
	line-height: 0.5em;
	color: #877;
}

h1.mapname {
	font-family: 'Ruslan Display',serif;
}


@media (max-width: 767.98px) {
	.imgback {
		background: linear-gradient(180deg, rgba(94, 58, 78, 1) , rgba(94, 58, 78, 0.1)) 20%,url('/static/images/header4d_c.jpg'); 
	}
	.navbar-brand {
		background-image: url('/static/images/logo80x80.png'); 
		width: 40px;
		height: 40px;
		background-size: cover;
	}
	/*
	.nav-item {
		font-size: 1.3em;
		padding-bottom:10px;
		padding-top: 10px;
	}
	.dropdown-item {
		font-size: 1.2em;
	}
	*/

	.line-h {
		height:40px;
		position: relative;
	}
	h1.mapname {
		font-family: 'Ruslan Display',serif;
		font-size: 1.5em;
	}
	a.tags{
		font-size:1.0em;
		margin: 5px 20px 5px 20px;
		padding: 0px 10px 0px 10px;
	}
	
}