.nav-side-menu {
	overflow: auto;
	font-weight: 200;
	position: fixed;
	top: 0px;
	width: 300px;
	height: 100%;
	background-color: #5e3a4e;
	font-family: 'PT Serif', sans-serif;
	color: #edd;
	font-size:1.0em;
}
.nav-side-menu .brand {
	background-color: #5e3a4e;
	background-image: url("/static/images/logo80x80.png");
	background-repeat: no-repeat;
	line-height: 80px;
	display: block;
}
.nav-side-menu .toggle-btn {
  display: none;
}

.menu-list {
	margin-left:40px;
	border-left: 1px dotted #8e6a7e;
}

.nav-side-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.nav-side-menu li {
  list-style: none;
  padding: 0.5rem 0rem;
  margin: 0px;
  cursor: pointer;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
  /*border-bottom: 1px solid #8e6a7e;*/
  color: #fff;
  background-color: #533345;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  #background-color: #8e6a7e;
  padding-left: 10px;
  margin-left: 10px;
  font-size:0.8em;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #b094a3;
}
.nav-side-menu ul .sub-menu .tags li:hover,
.nav-side-menu li .sub-menu .tags li:hover {
  background-color: #8e6a7e;
}


.nav-side-menu li {
  padding-left: 10px;
  border-left: 2px solid #5e3a4e;
} 


.nav-side-menu .tags li{
  padding: 3px 2px !important;
  margin-top:3px;
  display: inline-block;
  font-size: 0.8em;
  #background-color: #8e6a7e;
}

ul .tags {
  padding-left: 15px;
}


.nav-side-menu li a {
  text-decoration: none;
  color: #edd;
}

.nav-side-menu li:hover {
  border-left: 2px solid #8e6a7e;
  background-color: #b094a3;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 0px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #5e3a4e;
    color: #edd;
    width: 40px;
    text-align: center;
  }
.menu-list {
	margin-left:25px;
	border-left: 1px dotted #8e6a7e;
}
  .brand {
	background-image: url("/static/images/logo80x80.png");
	background-repeat: no-repeat;
	background-size: 50px;
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
  	width:calc(100% - 300px);
  	float: right;
  }
}

body {
	margin: 0px;
	padding: 0px;
	font-family: 'PT Serif', sans-serif;
	background: #fafafa;
}

p {
    font-family: 'PT Serif', sans-serif;
    font-size: 1.0em;
    font-weight: 300;
    line-height: 1.5em;
    color: #433;
}

blockquote p {
	font-size: 80% !important;
	font-family: 'Kurale', serif;
	color: #433;
	line-height: 1.3em;
}
.blockquote-footer {
	font-family: 'Kurale', serif;
	line-height: 1.3em;
	color: #877;
}

.ratio {
    width: 100%; /* здесь можно установить любую нужную ширину */
}

.ratio-inner {
    position: relative;
    height: 0;
    border: none;
}

.ratio-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #eee;
}

.ratio-5-1 {
    padding-top: 20%; /* 100% ширины делим на 4 и умножаем на 3 */
}


#toplogo {
	background-image: url('/static/images/back_main.jpg'); 
	width: 100%;
	height:200px;
	position: initial;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#toplogo h2 {		
    font-family: 'Kurale', serif;
    #font-size: 4.5em;
	font-size: 7vmax;
	/*font-size: calc(4vw + 4vh + 2vmin)*/
    font-weight: 700;
	color:#edd;
    font-family: 'Kurale', serif;
	text-shadow: 3px 3px 5px #555;
}

#toplogo h3 {		
    font-family: 'Kurale', serif;
    #font-size: 2.5em;
	font-size: 3vmax;
	/*font-size: calc((4vw + 4vh + 2vmin)*0.3)*/
    font-weight: 400;
	color:#edd;
	text-shadow: 3px 3px 5px #555;
    font-family: 'PT Serif', sans-serif;
}

h1.mapname {
	font-family: 'Ruslan Display',serif;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
i,
span {
    display: inline-block;
}

/
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  padding: 1px 16px;
  height: 100%;
  background-color: #e1d3c61f;
  #border: 1px solid #d9bdcc;
  #border-right: 3px solid #5e3a4e;
}

.container {
	padding-left: 0px;
	padding-right: 0px;
  background-color: #e1d3c61f;
  border-right: 3px solid #5e3a4e; 
	
}

.price {
	font-size: 1.5em;
	font-weight: 800;
	color: #5e3a4e;
}

.map-footer {
	background-color: #f8f9fa;
}
.map-body {
	background-color: #f8f9fa;
	border-bottom: 3px solid transparent;
	border-image: linear-gradient(to right,#f8f9fa 0%,#5e3a4e 50% ,#f8f9fa 100%);
	border-image-slice: 1;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 900px) {
/*div.content {margin-left: 0;}*/
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
} 