{% extends 'base.html' %}
{% load thumbnail %} 
{% block title %} {{ block.super }} - Карты {% endblock title %}

{% block navtop %}  {% endblock navtop %} 
{% block sort %} {% endblock sort %}
	{% block page %} 
	<main>
		<div class="col">
		<h1>Старинные карты</h1>
		</div>
		<div class="row row-cols-md-1 row-cols-lg-2">
		{%  for item in object_list %}
			<div class = "col d-flex align-items-stretch">
			<!--{% cycle 'cF' 'c2' 'c3' 'cL' as cardnum silent %}
			{% if cardnum ==  'cF'  %}
			<div class = "col-lg-3">
			{% endif %}-->
			
			<div class=" shadow-lg m-2 p-2">
				<div class="w-100 text-center">
					<a href="{{ item.map.url }}" class="mapname">
						<h3 class="card-title">{{item.map.title}}</h3>
					</a>
				</div>
				<div class = "w-100 d-flex align-items-center justify-content-center" style="height:340px; width:340px;">
					{% if item.image|is_portrait %}				
						{% thumbnail item.image "x280" as im %}
						<a href="{{item.map.url}}">
						<img class="mx-auto d-block" src="{{im.url}}" align="center" width="{{im.width}}" height="{{im.height}}" alt="{{object_list.category}}- {{item.map.title|safe}} - {{item.map.partnumber}}"/>
						</a>
						{% endthumbnail %}		
					{% else %}			
						{% thumbnail item.image "280" as im %}
						<a href="{{item.map.url}}">
						<img class="mx-auto d-block" src="{{im.url}}" align="center" width="{{im.width}}" height="{{im.height}}" alt="{{object_list.category}}- {{item.map.title|safe}} - {{item.map.partnumber}}"/>
						</a>
						{% endthumbnail %}		
					{% endif %}
				</div>
				<div class="w-100 mx-2">
					<div><p>{{ item.map.annotation }}</p></div>
				</div>
				<div class="d-flex d-flex-grow-1 w-100">&nbsp;</div>
				<div class="d-flex d-flex-row align-items-end px-2">
						<div class = ""><p><small class="text-muted">Арт. {{ item.map.partnumber }}</small></p></div>
						<div class = "ml-auto"><p class="">{{item.map.price}} ₽</p></div>
				</div>
			</div>
			
				<!--
			
				<div class="card h-100 border-0 py-4 mx-2 my-4 shadow-lg">
					<div class="card-body  map-body">
						<div class = "row">
							<div class = "col-sm-12 text-center">
							<a href="{{ item.map.url }}">
								<h3 class="card-title">{{item.map.title}}</h3>
							</a>
							</div>
						</div>
						<div class = "row">
							<div class = "col-12" >
								{% if item.image %}						
									{% thumbnail item.image item.map.geometry crop="center" as im %}
									<a href="{{item.map.url}}">
									<img class="mx-auto d-block" src="{{im.url}}" align="center" width="{{im.width}}" height="{{im.height}}" alt="{{item.map.category}}- {{item.map.title}} - {{item.map.partnumber}}"/>
									</a>
									{% endthumbnail %}					
								{% endif %}
							</div>
						</div>
						<div class = "row justify-content-end">
							<div class = "col-5"><small class="text-muted">Арт. {{ item.map.partnumber }}</small></div>
						</div>
						<div class = "row justify-content-end">
							<div class = "col-5"><p class="mb-0">{{item.map.price}} ₽</p></div>
						</div>
					</div>
					<div class="card-footer map-footer">
						<div><p>{{ item.map.annotation }}</p></div>
					</div>
				</div>
				
				-->
				
			</div>
				
			<!--	
			{% if cardnum == 'cL' %}
			</div>
			{% else %} 
			{% if forloop.last %}
			</div>
			{% endif %}
			{% endif %}
			-->
		{% empty %}
		<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2">
			<p>список пуст.</p>
		</div>
		{% endfor %}
		</div>
	</main>
	{% endblock page %}	
