{% extends 'base.html' %}
{% load thumbnail %} 

{% block title %} {{map.category}} - {{map.title}} {% endblock title %}
{% block sort %} {% endblock sort %}
{% block page %} 
<!--<div class="container-fluid"> -->
	{% if map %}
		<div class="row no-gutters  justify-content-center">
			{% for img in images %}
			<div style="max-width:160px; padding:5px; border: 1px;" class="col-sm-3">
				<a data-fancybox="grp1" href="{{img.image.url}}" data-caption="{{map.category}} - {{map.title}} - {{map.partnumber}}">
					{% thumbnail img.image "160x160" crop="center" as im %}
					<img class="img-fluid img-thumbnail" src="{{im.url}}" align="center" width="{{im.width}}" height="{{im.height}}" alt="{{map.title}}"/>
					{% endthumbnail %}
				</a>
			</div>
			{% endfor %}
		</div>	
			
		<div class="row no-gutters px-4">
			<div class="col-sm-4">
				<div><span class="price">{{ map.price }} ₽ </span></div>
				<div><span>Артикул: {{ map.partnumber }}</span></div>
			</div>	
			<div class="col-sm-8 text-right">
				<div><h1 class="mapname">{{map.title}}</h1></div>
			</div>
		</div>
		<div class="row no-gutters map_info table  px-4 mr-auto justify-items-center">
		<table class="">
		{% if map.author %}<tr><td>Картограф</td><td>{{map.author}}</td></tr>{% endif %}
		{% if map.year %}<tr><td>Год издания</td><td>{{map.year}}г.</td></tr>{% endif %}
		{% if map.material %}<tr><td>Техника</td><td>{{map.material}}</td></tr>{% endif %}
		{% if map.source %}<tr><td>Источник</td><td>{{map.source}}</td></tr>{% endif %}
		{% if map.carton %}<tr><td>Паспарту</td><td>{{map.get_carton_display}}</td></tr>{% endif %}
		{% if map.glass %}<tr><td>Стекло</td><td>{{map.get_glass_display}}</td></tr>{% endif %}
		</table>
		</div>
		
		<div class="px-4">
		{% if map.epigraph %}
		<blockquote class="blockquote text-right epigraph">
			{{map.epigraph|safe}}
			{% if map.epigraph_author %} <footer class="blockquote-footer font-weight-lighter">{{map.epigraph_author|safe}}</footer>{% endif %}
		</blockquote>
		{% endif %}
		{{ map.description|safe }}
		</div>
			
	{% else %}
		<p>такой карты нет.</p>
	{% endif %}
<!--	</div> -->
{% endblock page %}	
